<h2 style="margin-top: 50px; margin-bottom: 50px">You are loged as admin</h2>
<admin-subscription-form
  ng-model="$ctrl.subscriptions"
  user-data="$ctrl.userData"
>
</admin-subscription-form>
<div class="text-uppercase font-italic">
  Available topics:
  <label
    class="font-weight-bold"
    ng-repeat="topic in $ctrl.userSubscriptions"
    style="padding: 5px"
  >
    {{ topic.name }}
  </label>
</div>
<br />
<div class="form-group">
  <a style="margin: 10px" href="#!/" class="btn btn-success w-5 h-5 p-3">
    Add new subscription
  </a>
  <a
    style="margin: 10px"
    href="#!/admin/addtopic"
    class="btn btn-primary w-5 h-5 p-3"
  >
    Add new topics
  </a>
  <a
    style="margin: 10px"
    href="#!/"
    ng-click="$ctrl.logout()"
    class="btn btn-danger w-5 h-5 p-3"
  >
    Logout
  </a>
</div>
