<label for="{{ $ctrl.elId }}"> <ng-transclude></ng-transclude> </label>
<input
  id="{{ $ctrl.elId }}"
  type="password"
  name="{{ $ctrl.elName }}"
  ng-model="$ctrl.data"
  ng-change="$ctrl.onChange()"
  class="form-control"
/>
<div
  class="error"
  ng-if="
    ($ctrl.showErrors || $ctrl.$ngModel.$touched || $ctrl.$ngModel.$dirty) &&
    $ctrl.$ngModel.$invalid
  "
>
  <ul>
    <li ng-repeat="(k, v) in $ctrl.$ngModel.$error">
      {{ k }}
    </li>
  </ul>
</div>
