<div class="container-fluid h-100 bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <h2 style="margin-top: 20px; margin-bottom: 20px">SUBSCRIBE</h2>
  </div>
  <form
    class="form-group"
    role="form"
    name="userForm"
    ng-submit="$ctrl.addSub(userForm)"
    novalidate=""
  >
    <user-home-form
      ng-model="$ctrl.userCredentials"
      show-errors="userForm.$submitted"
      user-subscriptions="$ctrl.userSubscriptions"
    >
    </user-home-form>
    <div>
      <div class="row justify-content-center align-items-center h-100">
        <button
          style="margin-top: 10px; width: 300px"
          type="submit"
          class="btn btn-warning"
        >
          Subscribe
        </button>
      </div>
    </div>
  </form>
</div>
