<div class="container-fluid h-100 bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <h2 style="margin-top: 50px; margin-bottom: 50px">Add new topic</h2>
  </div>
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <form
        class="form-group"
        role="form"
        name="topicForm"
        ng-submit="$ctrl.addTopic(topicForm)"
        novalidate=""
      >
        <admin-topics-form
          ng-model="$ctrl.topicData"
          show-errors="topicForm.$submitted"
        >
        </admin-topics-form>
        <div>
          <button
            style="margin-top: 10px"
            type="submit"
            class="btn btn-warning btn-block"
          >
            Add topic
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
