<div class="container-fluid h-100 bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <h2 style="margin-top: 50px; margin-bottom: 50px">Edit subscription</h2>
  </div>
  <form
    class="form-group"
    role="form"
    name="editForm"
    ng-submit="$ctrl.editSub(editForm)"
    novalidate=""
  >
    <admin-subscriptions-edit-form
      ng-model="$ctrl.editCredentials"
      show-errors="editForm.$submitted"
      user-subscriptions="$ctrl.userSubscriptions"
    >
    </admin-subscriptions-edit-form>
    <div>
      <div class="row justify-content-center align-items-center h-100">
        <button
          style="margin-top: 10px; width: 300px"
          type="submit"
          class="btn btn-lg btn-primary"
          ng-disabled="editForm.$invalid"
        >
          Update
        </button>
      </div>
    </div>
  </form>
</div>
