<div class="row justify-content-center align-items-center h-100">
  <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <input-text
      el-id="name"
      el-name="name"
      ng-model="$ctrl.user.name"
      ng-change="$ctrl.onChange()"
      ng-required="true"
      show-errors="$ctrl.showErrors"
    >
      Username :
    </input-text>
  </div>
</div>
<div class="row justify-content-center align-items-center h-100">
  <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <input-email
      el-id="email"
      el-name="email"
      ng-model="$ctrl.user.email"
      ng-change="$ctrl.onChange()"
      ng-required="true"
      show-errors="$ctrl.showErrors"
    >
      Email :
    </input-email>
  </div>
</div>
<div
  style="margin-top: 20px; margin-bottom: 20px"
  class="row justify-content-center align-items-center"
>
  Subscribed topics:
</div>
<div class="row justify-content-center align-items-center h-100">
  <div
    class="form-check form-check-inline"
    ng-repeat="topic in $ctrl.userSubscriptions"
  >
    <label>
      <input-checkbox
        el-id="topic.$id"
        el-name="topic.name"
        ng-model="$ctrl.user.subs[topic.name]"
        ng-change="$ctrl.onChange()"
      >
      </input-checkbox>
      {{ topic.name }}
    </label>
  </div>
</div>
