<div class="container-fluid h-100 bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <h2 style="margin-top: 50px; margin-bottom: 50px">Login for Admins</h2>
  </div>
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <form
        class="form-group"
        role="form"
        name="loginForm"
        ng-submit="$ctrl.logAdmin(loginForm)"
        novalidate=""
      >
        <admin-login-form
          ng-model="$ctrl.loginCredentials"
          show-errors="loginForm.$submitted"
        >
        </admin-login-form>
        <div>
          <button
            style="margin-top: 10px; width: 300px"
            type="submit"
            class="btn btn-lg btn-primary"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
