<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Subscribed topics</th>
        <th scope="col">Admin actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.userData">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <label ng-repeat="(key,value) in user.subs" style="padding: 5px">
            <label ng-show="value">
              {{ key }}
            </label>
          </label>
        </td>
        <td>
          <a href="#!/admin/edit/{{ user.$id }}" class="btn btn-info"> Edit </a>
          <a href="" ng-click="$ctrl.deleteSub(user)" class="btn btn-danger">
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
