<div class="row justify-content-center align-items-center h-100">
  <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <input-text
      el-id="name"
      el-name="name"
      ng-model="$ctrl.user.name"
      ng-change="$ctrl.onChange()"
      ng-required="true"
      show-errors="$ctrl.showErrors"
    >
      Username :
    </input-text>
  </div>
</div>
<div class="row justify-content-center align-items-center h-100">
  <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <input-email
      el-id="email"
      el-name="email"
      ng-model="$ctrl.user.email"
      ng-change="$ctrl.onChange()"
      ng-required="true"
      show-errors="$ctrl.showErrors"
    >
      Email :
    </input-email>
  </div>
</div>
<br />
<div class="row justify-content-center align-items-center h-100">
  <div
    class="form-check form-check-inline"
    ng-repeat="(key,value) in $ctrl.userSubscriptions"
  >
    <label>
      <input-checkbox
        el-id="key"
        el-name="value.name"
        ng-model="$ctrl.user.subs[value.name]"
        ng-change="$ctrl.onChange()"
        aria-label="Checkbox for following text input"
      >
      </input-checkbox>
      {{ value.name }}
    </label>
  </div>
</div>
